<% if false %>
<body class="profile-show-page">
  <div class="profile-index-container">
  <h1 class="profile-h2-show">Find your TEAM8 today</h1>
  <p class="profile-h2-show">TEAM8 algorithms have worked hard to find profiles that match your interests<br><br>Start swiping to find your perfect TEAM8 and book your first activity together </p>
  <div class="container-lhs-curve">
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-md-4 mb-4">
        <div class="profile-show-activity-card">
          <div class="card-body">
            <h5 class="activity-h2-show"><%= user.first_name %> <%= user.last_name %></h5>
            <p class="activity-h2-show">Age: <%= user.age %></p>
            <%= button_to "Match", invites_path(user_two_id: user.id), data: { turbo_method: :post }, class: "btn btn-primary" %> <!-- Add match button with appropriate styling -->
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
</body>
<%end%>

<div class="navigation-container">
    <%# Reccomended Activities p%>
    <h2 class="team8-profile-index">Find your next TEAM8</h2>
</div>
<%# Curved div container to store activities card%>
<div class="container-activites-index">
  <%# <div class="activity-index-card"> %>
    <div class="activity-index-information">
    <% @users.each do |user| %>
      <div class="col-md-4 mb-4">
        <div class="profile-show-activity-card">
          <div class="card-body">
            <h5 class="activity-h2-profile-index"><%= user.first_name %> <%= user.last_name %></h5>
            <p class="activity-h2-show">Age: <%= user.age %></p>
            <p class="activity-h2-show">Looking for support for <%= user.profile.medical_condition.join(", ") %></p>
            <%= link_to "Match", invites_path(user_two_id: user.id), data: { turbo_method: :post }, class: "card-button-index-like" %> <!-- Add match button with appropriate styling -->
          </div>
        </div>
      </div>
    <% end %>
    </div>
</div>
