<% if false %>
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <% @invites.each_with_index do |invite, index| %>
      <div class="carousel-item <%= 'active' if index.zero? %>">
        <div class="user-card text-center" style="width: 18rem; margin: 0 auto 20px;">
          <div class="card-body">
            <%= link_to "#{invite.user_one.first_name}", profile_path(invite.user_one.profile) %><p>wants to be your TEAM8</p>
          </div>
          <div class="button-row" style="display: flex; justify-content: space-between;">
            <%= button_to "Reject", reject_invite_path(invite, status: false), method: :patch, data: { turbo: false }, class: "button-dislike" %>
            <%= button_to "Accept", accept_invite_path(invite, status: true), method: :patch, data: { turbo: false }, class: "button-like" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if @invites.length > 1 %>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  <% end %>
</div>
<body class="profile-show-page">
  <div class="profile-index-container">
    <h1 class="profile-h2-show">Welcome TEAM8</h1>
    <% if @profile.user == current_user %>
      <p class="profile-h2-show"><%= @profile.user.first_name %> <%= @profile.user.last_name %>, we've selected<br>these activities just for you!</p>
    <% end %>
  </div>


  <div class="input-field">
    <%= form_with url: activities_path, method: :get, class: "search-form" do %>
      <div class="input-wrapper">
        <%= text_field_tag :query,
              params[:query],
              class: "search-input form-control",
              placeholder: "Search for a specific activity"
          %>
        <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
    <% end %>
  </div>
  <h2 class="profile-h2-show">Reccomended activites</h2>
<div class="container-lhs-curve">
  <% if @activities.present? %>
    <div class="row">
      <% @activities.each do |activity| %>
        <div class="col-md-4 mb-4">
          <div class="profile-show-activity-card">
            <div class="card-body">
              <p class="card-text-lhs"><strong><%= activity.name %></strong></p>
              <p class="card-text-lhs">Available spaces: <%= activity.spaces %></p>
              <%= link_to 'Attend', activity_path(activity), class: "card-button" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No activities found. Configure your preferences so we know which activities to match you with!</p>
  <% end %>
  </div>
</body>
</body>
<% end %>
<%# Navigation div containing back button and search bar %>
<div class="navigation-container-user-show">
<div class="profile-show-information">
<h1 class="profile-h2-show">Welcome <%= @profile.user.first_name %></h1>
  </div>
  <h2 >Reccomended activities</h2>
  <%# Carousel for matches%>
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <% @invites.each_with_index do |invite, index| %>
      <div class="carousel-item <%= 'active' if index.zero? %>">
        <div class="user-card text-center">
          <div class="card-body">
            <%= link_to "#{invite.user_one.first_name}", profile_path(invite.user_one.profile) %><p>wants to be your TEAM8</p>
          </div>
          <div class="button-row">
  <%= button_to reject_invite_path(invite, status: false), method: :patch, data: { turbo: false }, class: "button-dislike" do %>
    <i class="fa fa-times"></i>
  <% end %>
  <%= button_to accept_invite_path(invite, status: true), method: :patch, data: { turbo: false }, class: "button-like" do %>
   <i class="fa-solid fa-heart"></i>
  <% end %>
</div>
        </div>
      </div>
    <% end %>
  </div>
  <% if @invites.length > 1 %>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  <% end %>
</div>
</div>
<%# Curved div container to store activities card%>
<div class="container-activites-index">
  <%# <div class="activity-index-card"> %>
    <div class="activity-index-information">
    <% @activities.each do |activity| %>
  <div class="col-md-4 mb-4">
    <div class="activity-index-cards">
      <div class="card-body">
        <p class="activity-h2-show"><%= link_to activity.name, activity %></p>
        <p class="activity-h2-show"><i class="fas fa-users"></i> Spaces available: <%= activity.spaces %></p>
        <%= link_to 'Attend', activity_path(activity), class: "card-button-index" %>
      </div>
      <div class="activity-index-photo">
      <% if activity.photo.attached? %>
        <%= cl_image_tag activity.photo.key, crop: :fill, width: 200, height: 200 %>
        <% end %>
        </div>
    </div>
  </div>
<% end %>
    </div>
<%# </div> %>
<div>
