<div class="profile-index-container">

  <h1>Welcome, TEAM8!</h1>
  <% if @profile.user == current_user %>
    <p><%= @profile.user.first_name %> <%= @profile.user.last_name %> we've selected<br>these activities just for you!</p>
  <% end %>
</div>


<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <% @invites.each_with_index do |invite, index| %>
      <div class="carousel-item <%= 'active' if index.zero? %>">
        <div class="user-card text-center" style="width: 18rem; margin: 0 auto 20px;">
          <div class="card-body">
            <%= link_to "#{invite.user_one.first_name}", profile_path(invite.user_one.profile) %><p>wants to be your TEAM8</p>
          </div>
          <div class="button-row" style="display: flex; justify-content: space-between;">
            <%= button_to "Reject", reject_invite_path(invite, status: false), method: :patch, data: { turbo: false }, class: "btn btn-danger" %>
            <%= button_to "Accept", accept_invite_path(invite, status: true), method: :patch, data: { turbo: false }, class: "btn btn-success" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if @invites.length > 1 %>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  <% end %>
</div>


<% if @activities.present? %>
  <div class="row">
    <% @activities.each do |activity| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= activity.name %></h5>
            <p class="card-text">Address: <%= activity.address %></p>
            <p class="card-text">Location: <%= activity.location %></p>
            <p class="card-text">Spaces available: <%= activity.spaces %></p>
            <%= link_to 'Reserve a space', activity_path(activity), class: "btn btn-plus" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>

  <p>No activities found. Configure your preferences so we know which activities to match you with!</p>
<% end %>
</div>
