
<div class="navbar fixed-bottom">
  <div class="button-column">
    <i class="fa-solid fa-house"></i>
    <%= link_to profile_path(current_user), class: "no-link-style" do %>
      <span>Home</span>
    <% end %>
  </div>
  <div class="button-column">
    <i class="fa-solid fa-person-running"></i>
    <%= link_to activities_path, class: "no-link-style" do %>
      <span>Activities</span>
    <% end %>
  </div>
    <div class="button-column">
    <i class="fa-solid fa-dumbbell"></i>
    <%= link_to users_path, class: "no-link-style" do %>
      <span>TM8</span>
    <% end %>
  </div>
  <div class="button-column">
    <i class="fa-solid fa-comments"></i>
    <%= link_to root_path, class: "no-link-style" do %>
      <span>DMS</span>
    <% end %>
  </div>
    <div class="button-column">
    <i class="fa-brands fa-x-twitter"></i>
    <%= link_to root_path, class: "no-link-style" do %>
      <span>Community</span>
    <% end %>
  </div>
</div>
