<div class="matches-messages">
  <div class="navigation-matches">
    <div class="match-page-title">Your TEAM8’s
    </div>
  </div>
  <div class="body-matches">
    <% @matches.each do |match| %>
      <div class="card-matches">
        <div class="card-body-matches">
          <% @match_user_one = match.match_users.find_by(user_id: current_user.id) %>
          <% @match_user_two = match.match_users.where.not(user_id: current_user.id).first %>
          <div class="chat-item">
            <a href="<%= match_path(match) %>" class="no-link-style">
              <div class="chat-user">
                <%= @match_user_two.user.first_name %> <%= @match_user_two.user.last_name %>
              </div>
              <% if match.messages.any? %>
                <% latest_message = match.messages.last %>
                <div class="message">
                  <% if current_user == latest_message.user %>
                    <strong>You:</strong>
                  <% else %>
                    <strong><%= @match_user_two.user.first_name %>:</strong>
                  <% end %>
                  <span><%= latest_message.content %></span>
                </div>
              <% else %>
                <p>No messages yet</p>
              <% end %>
            </a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
