<body class="profile-show-page">
  <div class="profile-index-container">
  <h1 class="profile-h2-show">Activities</h1>
  <p class="profile-h2-show">Browse your comprehensive list of available activites, or press <%= link_to "here", bookmarks_path%> for bookmarks</p>
</div>
<div class="container-lhs-curve">
  <div class="row">
    <% @activities.each do |activity| %>
  <div class="col-md-4 mb-4">
    <div class="profile-show-activity-card">
      <div class="card-body">
        <p class="activity-h2-show"><%= link_to activity.name, activity %></p>
        <p class="activity-h2-show"><i class="fas fa-map-marker-alt"></i> Address: <%= activity.address %></p>
        <p class="activity-h2-show"><i class="fas fa-location-arrow"></i> Location: <%= activity.location %></p>
        <p class="activity-h2-show"><i class="fas fa-users"></i> Spaces available: <%= activity.spaces %></p>
        <%= cl_image_tag activity.photo.key, crop: :fill, width: 200, height: 200 %>
        <%= link_to 'Reserve a space', activity_path(activity), class: "card-button-index" %>
        <%= link_to 'Bookmark this event', activity_bookmarks_path(activity_id: activity.id), data: { turbo_method: :post }, class: "card-button-index" %>
      </div>
    </div>
  </div>
<% end %>
  </div>
  <%= button_to 'Add new activity', new_activity_path, class: "card-button" %>
</div>
</body>


<body class="activity-show-page">
  <div class="activity-show-container">
    <%= link_to :back, class: 'back-button' do %>
    <i class="fa-solid fa-arrow-left-long"></i>
    <% end %>
          <h1><%= @activity.name %></h1>
          <h5>By <%= @activity.organiser %></h5>
  </div>




          <h4><%= @activity.date %></h4>
          <h4><%= @activity.address %></h4>
          <h5><%= @activity.location %></h5>
        </div>
        <%= render partial: "/shared/attendee_counter" %>
        <%= render partial: "/shared/button_attend_event", locals: { attend_text:
        "Attend to this event" }, class: 'attend-btn'%>
        <%= link_to 'Edit', edit_activity_path(@activity), class: 'edit-btn' %>
        <%= link_to 'Delete', activity_path(@activity),
                    method: :delete,
                    data: { confirm: 'Are you sure you want to delete this activity?' },
                    class: 'delete-btn' %>
    </div>
          <% if @activity.reviews.any? %>
            <% @activity.reviews.each do |r| %>
              <p><%= r.rating %></p>
              <p><%= r.description %></p>
              <p>Created by: <%= r.user.first_name %></p>
              <p>On: <%= r.created_at.strftime("%B %d, %Y") %></p>
            <% end %>
          <% else %>
            <p>No reviews</p>
          <% end %>
    <%= link_to 'Add a review', new_activity_review_path(activity_id: @activity.id), class: "card-button" %>
  </div>
</body>
