<%# Navigation div containing back button and search bar %>
<div class="navigation-container">
  
  <%# Search bar%>
  <div class="input-field">
    <%= form_with url: activities_path, method: :get, class: "search-form" do %>
      <div class="input-wrapper">
        <%= text_field_tag :query,
              params[:query],
              class: "search-input form-control",
              placeholder: "Search here"
          %>
        <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
    <% end %>
  </div>
    <%# Reccomended Activities p%>
    <p class="activity-show">Browse our comprehensive list of activities. Our suggestions our doctor verified, we only suggest activities that are suited to your needs.</p>
</div>
<%# Curved div container to store activities card%>
<div class="container-activites-index">
  <%# <div class="activity-index-card"> %>
    <div class="activity-index-information">
    <% @activities.each do |activity| %>
  <div class="col-md-4 mb-4">
    <div class="activity-index-cards">
      <div class="card-body">
        <p class="activity-h2-show"><%= link_to activity.name, activity %></p>
        <p class="activity-h2-show"><i class="fas fa-users"></i> Spaces available: <%= activity.spaces %></p>
        <%= link_to 'Attend', activity_path(activity), class: "card-button-index" %>
      </div>
      <div class="activity-index-photo">
        <%= cl_image_tag activity.photo.key, crop: :fill, width: 200, height: 200 %>
        </div>
    </div>
  </div>
<% end %>
    </div>
<%# </div> %>
<div>
