<div class="activity-header">
  <%= link_to :back, class: 'back-button' do %> <!-- link_to 'prefix selected_items' -->
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <h1><%= @activity.name %></h1>
  <h5>By <%= @activity.organiser %></h5>
</div>

<div class="activity-info">

  <div class="date">
    <h4><%= @activity.date %></h4>  
    <h5><%= @activity.time %></h5>
  </div>

  <div class="place">
    <h4><%= @activity.address %></h4>
    <h5><%= @activity.location %></h5>
  </div>

  <button class="attend-large">Attend to this activity</button>

</div>


