<% if false %>
<body class="activity-show-page">

  <div class="activity-show-container">
    <h1 class="activity-title"><%= @activity.name %></h1>
    <p class="activity-subtitle">By <%= @activity.organiser %></p>
  </div>

  <div class="container-lhs-curve1">
    <div class="row">
      <h4><%= @activity.date %></h4>
      <h4><%= @activity.address %></h4>
      <h4><%= @activity.location %></h4>
      <%= render partial: "/shared/attendee_counter" %>
      <%= render partial: "/shared/button_attend_event", locals: { attend_text: "Attend to this event" }, class: 'attend-btn' %>
      <%= link_to 'Edit', edit_activity_path(@activity), class: 'edit-btn' %>
      <%= link_to 'Delete', activity_path(@activity), method: :delete, data: { confirm: 'Are you sure you want to delete this activity?' }, class: 'delete-btn' %>
      <% if @activity.reviews.any? %>
        <% @activity.reviews.each do |r| %>
          <p><%= r.rating %></p>
          <p><%= r.description %></p>
          <p>Created by: <%= r.user.first_name %></p>
          <p>On: <%= r.created_at.strftime("%B %d, %Y") %></p>
        <% end %>
      <% else %>
        <p>No reviews</p>
      <% end %>
      <%= link_to 'Add a review', new_activity_review_path(activity_id: @activity.id), class: "card-button" %>
    </div>
  </div>
</body>
<% end %>

<%#New CODE%>
<div class="navigation-container">
    <h1 class="activity-show-title"><%= @activity.name %></h1>
</div>
<div class="activity-index-information">
<div class="container-activites-index">
<div class="col-md-4 mb-4">
<div class="activity-date">
<p class="activity-h2-show"><i class="fa-regular fa-calendar-check"></i>
 <%= @activity.date %></p>
</div>
<div class="activity-location">
<p class="activity-h2-show"><i class="fa-solid fa-location-dot"></i>
<%= "#{@activity.address}, #{@activity.location}" %>
<div class="activity-attendees">
<%= render partial: "/shared/attendee_counter" %>
<div class= "activity-attendees-btn">
<%= render partial: "/shared/button_attend_event", locals: { attend_text: "Attend to this event" }, class: 'card-button-index' %>
</div>
</div>
</div>
<div class="activity-show-review">
<% if @activity.reviews.any? %>
  <h5>TEAM8 reviews</h5>   <i class="fa-regular fa-pen-to-square"></i>

  <% @activity.reviews.each do |r| %>
    <div class="review-instance">
      <p><strong>Rating:</strong> <%= r.rating %></p>
      <p><strong>Review:</strong> <%= r.description %></p>
      <p><strong>Created by:</strong> <%= r.user.first_name %></p>
      <p><strong>On:</strong> <%= r.created_at.strftime("%B %d, %Y") %></p>
    </div> <!-- Ensure this div closes within the loop -->
  <% end %>
<% else %>
  <p>No reviews yet.</p>
<% end %>

<%= link_to 'Add a review', new_activity_review_path(activity_id: @activity.id), class: "card-button-index-review" %>
</div>
</div>
</div>
</div>
