<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 50vh; padding: 10%">
  <div style="margin-bottom: 20px";>
  </div>

<h1>Add a review for: <br><%= @activity.name %></h1>

<div class="form_container container">
  <%= simple_form_for [@activity, @review] do |f| %>
    <div class="field">
      <%= f.label :rating %>
      <%= f.number_field :rating, in: 1..5 %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <%= f.submit class: "btn base-btn" %>
    <% end %>
</div>
