<!DOCTYPE html>
<html>
  <head>
    <title>Team8</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  </head>


  <body>
  <div class="team8-container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render "shared/navbar" if current_user && !(action_name == 'home')%>
    </div>
  </body>
</html>
